<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="button">HOME</div>
      <div class="button">ABOUT US</div>
      <div class="button">CONTACT</div>
      <div class="button">COMPANY</div>
      <div class="button">SERVICES</div>
    </nav>
    <header>
      <div class="title">
        <div class="big">TechCorporate</div>
        <div class="small">Free PSD Website Template</div>
      </div>
      <div class="date">
        <div>Tel: xxxxxxxxxx</div>
        <div>Mail: info@domain.com</div>
      </div>
    </header>
    <div class="main">
      <div class="container1">
        <div class="table">
          <div class="tableTitle">Lakkfgnh jhdfjj</div>
          <div class="tableText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
            nisi eligendi iste ipsum distinctio, expedita commodi? Doloremque
            odio fugit possimus sint veritatis porro cum odit adipisci. Amet
            molestiae molestias repellat?
          </div>
        </div>
        <div class="title2">Todays Technology</div>
      </div>
      <div class="container2">
        <div class="box">
          <div class="subtitle">Indonectetus facilis leo nibh</div>
          <div class="picture px90">240 x 90px</div>
          <div class="boxText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur, delectus consequuntur! Quis error beatae distinctio,
            ipsa dolorem laborum eum iure ea, quaerat porro adipisci debitis
            commodi? Hic, odio aut! Soluta.
          </div>
          <div class="readMore">Read More &gt;&gt;</div>
        </div>
        <div class="box">
          <div class="subtitle">Indonectetus facilis leo nibh</div>
          <div class="picture px90">240 x 90px</div>
          <div class="boxText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur, delectus consequuntur! Quis error beatae distinctio,
            ipsa dolorem laborum eum iure ea, quaerat porro adipisci debitis
            commodi? Hic, odio aut! Soluta.
          </div>
          <div class="readMore">Read More &gt;&gt;</div>
        </div>
        <div class="box">
          <div class="subtitle">Indonectetus facilis leo nibh</div>
          <div class="picture px90">240 x 90px</div>
          <div class="boxText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur, delectus consequuntur! Quis error beatae distinctio,
            ipsa dolorem laborum eum iure ea, quaerat porro adipisci debitis
            commodi? Hic, odio aut! Soluta.
          </div>
          <div class="readMore">Read More &gt;&gt;</div>
        </div>
      </div>
      <div class="container3">
        <div class="obj1">
          <div class="picture px160">200 x 160px</div>
          <div class="objText">
            <div class="objSubtitle">Indonectetus facilis leo nibh</div>
            <div>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi
              corrupti quae soluta quo architecto, cupiditate asperiores labore
              sint expedita incidunt officia earum pariatur adipisci deserunt,
              magnam iusto nemo laudantium rem.
            </div>
            <div class="continue">Continue Reading &gt;&gt;</div>
          </div>
        </div>
        <div class="obj2">
          <div class="categories">Categories</div>
          <div class="links">
            <div>&gt;&gt; Link Text Goes Here</div>
            <div>&gt;&gt; Link Text Goes Here</div>
            <div>&gt;&gt; Link Text Goes Here</div>
            <div>&gt;&gt; Link Text Goes Here</div>
            <div>&gt;&gt; Link Text Goes Here</div>
          </div>
        </div>
      </div>
      <div class="container4">
        <div class="picture px100">174 x 100px</div>
        <div class="picture px100">174 x 100px</div>
        <div class="picture px100">174 x 100px</div>
        <div class="picture px100">174 x 100px</div>
        <div class="picture px100">174 x 100px</div>
      </div>
    </div>
    <footer>
      <div>Copyright 2009 Domain Name - All Rights Reserved</div>
      <div>Template by OS Templates</div>
    </footer>
  </body>
</html>
