.flexboxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexboxItem {
  width: 200px;
  margin: 10px;
  border: 3px solid #333;
  background-color: #dfdfdf;
}
.flexboxItem1 {
  min-height: 100px;
}
.flexboxItem2 {
  min-height: 200px;
}
.flexboxItem3 {
  min-height: 300px;
}
