body {
  background-color: #fdfff4;
  width: 50%;
  padding: 20px;
}
#site {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#sidebar {
  display: flex;
  align-items:flex-start;
  justify-content:first baseline;
  flex-direction: column;
  flex: 1;
  font-weight: 600;
  font-size: 1.2em;
}
#sidebar > div {
  margin: 10px 0;
}
#sidebar .blue {
  color: blue;
}
#main {
  flex: 4;
  padding-left: 20px;
  border-left: 1px solid lightslategray;
  align-items:flex-start;
  justify-content:first baseline;
  flex-direction: column;
}
.circleImage {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 3px solid gray;
}
.dogImage {
position: relative;
left: 150px;
}
.dogType {
  margin: 20px 0 10px 0;
  font-size: 1.6em;
  font-weight: 600;
}
.container1 {
  display: flex;
  align-items:flex-start;
  justify-content:flex-start;
}
.titles {
  font-weight: 600;
  margin-right: 30px;
}


/*#sidebar {
  box-sizing: border-box;
  font-weight: 600;
  font-size: 1.2em;
  float: left;
  width: 30%;
  padding-top: 20px;
}
#sidebar > div {
  padding: 5px 0px 5px 50px;
}
#sidebar .blue {
  color: blue;
}
#main {
  padding-left: 20px;
  float: right;
  width: 70%;
  box-sizing: border-box;
  border-left: 10px;
  border-color: aquamarine;
  border-left: 1px solid gray;
  display: flex;
  flex-direction: column;
}
.circleImage {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: 3px solid gray;
  align-content: center;
  justify-content: center;
}
.dogType {
  font-size: 2em;
  font-weight: bold;
}
.titles {
  float: left;
  width: 20%;
  font-weight: 800;
}
.descriptions {
  float: right;
  width: 80%;
}
