.parent {
  background: lightblue;
  padding: 5px;
  height: 200vh;
  position: relative;
}
.childOne {
  background: green;
  position: sticky;
  top: 0px;
}
.childTwo {
  background: red;
}
.childThree {
  background: pink;
}
