.hidden {
  display: none;
}

body {
  background-color: violet;
}

#container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  margin: 10px auto;
  border-radius: 10px;
}

#add-btn {
  background-color: aquamarine;
}

#asc-btn,
#desc-btn {
  background-color: violet;
}

.ascDesc {
  margin: 20px 0;
}

.bought {
  text-decoration: line-through;
}
