body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: lightgray;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.contact {
  font-size: 4em;
}
.otherText {
  font-size: 2em;
  color: gray;
}
footer {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.formular {
  max-width: 500px;
  width: 100%;
  background-color: lightgray;
  padding: 50px;
  border-radius: 5px;
}
#main .formular .userDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.formular .userDetails .inputBox {
  margin: 10px 0 12px 30px;
}
.userDetails .inputBox input {
  height: 25px;
  width: 100%;
}
.userDetails .inputBox .details {
  font-weight: 500;
  margin-bottom: 10px;
}
.inputDetails {
  width: calc(100% / 2 - 20px);
}
textarea {
  resize: vertical;
  max-height: 200px;
}

/*#main > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form > div {
  display: flex;
  justify-content: center;
  align-items: center;
}*/

.social {
  width: 100%;
  justify-content: center;
  font-size: 1.2em;
  border-bottom: 1px solid grey;
  margin-top: 20px;
}
.links {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.links > a {
  text-decoration: none;
  margin: 0 20px 0 20px;
}
